.container{
    border: 2px solid red;
    color: white;
    display: flex;
    flex-direction: column; 
}

.p1 , .p3{
    background-color: lightblue;
    text-align: center;
    height: 50px;
    flex-grow: 1;
}

.p2 {
    background-color: lightblue;
    border: 1px solid black;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    height: 100px;
    width: 200px;
    align-self: flex-end;
}