.container{
    background-color: white;
    border: 5px solid black;
    display: grid;
    column-gap: 40px;
    row-gap: 40px;
    grid-template-columns: 1fr 3fr;
    text-align: center;
    color: white;
}

.red{
    background-color: red;
    border: 2px solid black ;
    padding: 50px;
    margin: 10px;
}
.blue{
    background-color: blue;
    border: 2px solid black;
    padding: 50px;
    margin: 10px;
}

.yellow{
    background-color: yellow;
    border: 1px solid black;
    padding: 50px;
    grid-area: 4 / 1 / 4 / 3;
    margin: 10px;
}